.blog-container {
  min-height: 50vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-description {
  text-align: center;
}

.blog-description {
  line-height: 1.5;
  font-size: 1.5rem;
}

#blog-welcome {
  margin-top: 6vh;
  text-align: center;
}

@media (min-width: 550px) {
  #blog-welcome {
    margin-top: 6vh;
  }
}

@media (min-width: 750px) {
  #blog-welcome {
    margin-top: 8vh;
    text-align: left;
    max-width: 650px;
  }
}

#blog-welcome > p {
  font-size: 4rem;
}

@media (min-width: 750px) {
  #blog-welcome > p {
    font-size: 3rem;
    font-weight: 300;
  }
}
