.index-container {
  min-height: 90vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-description {
  text-align: center;
}

.index-description {
  line-height: 1.5;
  font-size: 1.5rem;
}

#index-welcome {
  margin-top: 6vh;
  text-align: center;
}

@media (min-width: 550px) {
  #index-welcome {
    margin-top: 6vh;
  }
}

@media (min-width: 750px) {
  #index-welcome {
    margin-top: 8vh;
    text-align: left;
    max-width: 650px;
  }
}

#index-welcome > p:nth-child(1) {
  font-size: 4rem;
}

@media (min-width: 750px) {
  #index-welcome > p:nth-child(1) {
    font-size: 3rem;
    font-weight: 300;
  }
}

#index-welcome > p:nth-child(2) {
  font-size: 2rem;
}

#index-welcome > p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 300;
}

@media (min-width: 750px) {
  #index-welcome > p:nth-child(3) {
    font-size: 1.8rem;
    font-weight: 300;
  }
}

.index-headerHomeImage {
  width: 16rem;
  height: 16rem;
}

@media (max-width:750px) {
  .index-headerHomeImage {
     margin-top: 4vh;
  }
}
