.portfolio-container {
	margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.portfolio-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.portfolio-stl-viewer {
	padding: 0 15px 0;
}

@media (max-width: 1200px) {
	.portfolio-stl-viewer {
		display: none;
	}
}
